/* Reset */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* Palette */
/* #color-palette {
  width: fit-content;
} */

.color {
  border: 1px solid black;
  float: left;
  height: 40px;
  width: 40px;
}

/* Board */
#pixel-board {
  min-width: 200px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  float: left;
  height: 40px;
  width: 40px;
}
/* Utilities */
.clearfix {
  clear: both;
}

.fit-content {
  width: fit-content;
}
